<%= form_for [@mouse_rack, @mating_cage] do |f| %>
  <% if @mating_cage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mating_cage.errors.count, "error") %> prohibited this mating_cage from being saved:</h2>

      <ul>
      <% @mating_cage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cage_id %><br>
    <%= f.text_field :cage_id %>
  </div>
  <div class="field">
    <%= f.label :mated %><br>
    <%= f.date_select :mated %>
  </div>
  <div class="field">
    <%= f.label :strain1 %><br>
    <%= f.text_field :strain1 %>
  </div>
  <div class="field">
    <%= f.label :strain2 %><br>
    <%= f.text_field :strain2 %>
  </div>

  <%= f.hidden_field :slotable_id, :value => params[:slot_id] %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
