<p id="notice"><%= notice %></p>

<p>
  <strong>Cage:</strong>
  <%= @mating_cage.cage_id %>
</p>

<p>
  <strong>Mated:</strong>
  <%= @mating_cage.mated %>
</p>

<p>
  <strong>Strain1:</strong>
  <%= @mating_cage.strain1 %>
</p>

<p>
  <strong>Strain2:</strong>
  <%= @mating_cage.strain2 %>
</p>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Genotype</th>
      <th>DOB</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @mice.each do |mouse|%>
    <tr>
      <td><%= mouse.number %></td>
      <td><%= mouse.genotype %></td>
      <td><%= mouse.dob %></td>
      <td><%= link_to "Delete", [@mating_cage, mouse], method: :delete, confirm: "Are you sure you want to remove this mouse from the cage?" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
  

<%= link_to 'Add a mouse', new_mating_cage_mouse_path(@mating_cage) %>
<br>
<br>
<%= link_to 'Edit', edit_mouse_rack_mating_cage_path(@mouse_rack, @mating_cage) %> |
<%= link_to 'Back', mouse_rack_path(@mouse_rack) %>